@charset "utf-8";

@use 'foundation' as *;
@use 'global' as *;

.atcf7 {
  &-form-table {
    $this: &;
    $s: #{&};
    display: block;
    line-height: 1.3;
    border: none;
    border-top: 1px solid #e6e6e6;
    tbody {
      display: block;
    }
    &--confirmed {
      @extend #{$this};
      font-size: 85%;
      #{$s}__head {
        @include mq-custom($mq_sm) {
          width: 120px;
        }
      }
    }
    &__req {
      display: inline-block;
      padding: 2px 3px;
      line-height: 1.1;
      color: #fff;
      text-align: center;
      font-weight: 600;
      font-size: 60%;
      background-color: colors(red);
    }
    &__row {
      display: block;
      background: none;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 0;
      @include mq-custom($mq_sm) {
        display: flex;
        align-items: center;
      }
    }
    &__head,
    &__content {
      display: block;
      @include mq-custom($mq_sm) {
        padding: 8px 0;
      }
    }
    &__head {
      position: relative;
      text-align: left;
      font-weight: 600;
      padding-top: 10px;
      margin-bottom: 5px;
      font-size: 90%;
      @include mq-custom($mq_sm) {
        margin-bottom: 0;
        width: 210px;
      }
      label {
        font-weight: 600;
      }
      .atcf7-form-table__req {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: 7px;
        transform: translate(0, -50%);
        @include mq-custom($mq_sm) {
          margin-top: 0;
        }
      }
    }
    &__content {
      padding-bottom: 10px;
      @include mq-custom($mq_sm) {
        flex: 1;
        padding-left: 30px;
      }
    }
  }
  &-form-adornments {
    display: flex;
    align-items: center;
    &__before {
      opacity: 0.6;
      font-size: 85%;
      margin-right: 0.5em;
    }
    &__after {
      opacity: 0.6;
      font-size: 85%;
      margin-left: 0.5em;
    }
  }
  &-form-control {
    $this: &;
    width: 100%;
    height: 35px;
    padding: 5px;
    box-shadow: none;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #f3f3f3;
    font-size: 16px;
    @include mq-custom($mq_sm) {
      height: 40px;
      padding: 5px 10px;
      font-size: 15px;
    }
    &--inline {
      @extend #{$this};
      width: auto;
      max-width: 100%;
      display: inline-block;
    }
    &--white {
      @extend #{$this};
      background-color: #fff;
    }
  }
  input:disabled {
    background-color: #ddd;
    opacity: 0.3;
  }
  &-form-select {
    $this: &;
    background-color: #f3f3f3;
    border: 1px solid #eee;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    appearance: none;
    margin: 0;
    line-height: 1.5;
    min-width: 60px;
    font-size: 16px;
    padding: 0.5em 2.5em 0.5em 0.5em;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), calc(100% - 2em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    @include mq-custom($mq_sm) {
      min-width: 140px;
      padding: 0.5em 3em 0.5em 0.5em;
      font-size: 15px;
    }
    @include mq-custom($mq_md) {
      min-width: 150px;
    }
    &--white {
      @extend #{$this};
      background-color: #fff;
    }
  }
  &-form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &-form-select::-ms-expand {
    display: none;
  }
  textarea.atcf7-form-control {
    line-height: 1.5;
    height: auto;
  }
  &-form-label {
    font-size: 85%;
    opacity: 0.65;
    margin-bottom: 3px;
    display: block;
  }
  &-form-radio-label {
    $this: &;
    $s: #{&};
    display: inline-flex;
    font-size: 95%;
    align-items: center;
    margin: 8px 0;
    min-width: 80px;
    font-weight: normal;
    margin-right: 24px;
    @include mq-custom($mq_sm) {
      margin-right: 40px;
    }
    &:last-child {
      margin-left: 0;
    }
    &--block {
      @extend #{$this};
      display: flex;
      margin-left: 0;
      margin-top: 16px;
      &:first-child {
        margin-top: 8px;
      }
    }
    &__input {
      margin-right: 0.5em;
    }
    &__text {
      flex: 1;
    }
  }
  &-privacy {
    margin-top: 16px;
    @include mq-custom($mq_sm) {
      margin-top: 24px;
    }
    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 90%;
    }
    &__box {
      $this: &;
      font-size: 80%;
      margin-top: 5px;
      background-color: #f6f6f6;
      padding: 15px 10px;
      max-height: 240px;
      overflow: auto;
      @include mq-custom($mq_sm) {
        margin-top: 10px;
        padding: 20px;
        max-height: 320px;
      }
      &--visibled {
        @extend #{$this};
        max-height: none;
      }
    }
    &__list {
      margin: 0;
      li {
        margin-top: 0.5em;
        &:first-child {
          margin-top: 0;
        }
        > ol {
          margin-top: 0.5em;
          li {
            ol {
              margin-top: 0.3em;
            }
          }
        }
      }
    }
    &__h1 {
      font-size: 110%;
      font-weight: 600;
    }
    &__h2 {
      font-weight: 600;
    }
    a {
      color: colors(main);
      text-decoration: underline;
    }
    &__check {
      text-align: center;
      margin-top: 5px;
    }
  }
  &-form-btn {
    position: relative;
    text-align: center;
    margin-top: 16px;
    @include mq-custom($mq_sm) {
      margin-top: 24px;
    }
    .wpcf7-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
  &-btn-submit {
    $s: #{&};
    $this: &;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 5px 0.75em;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.3;
    color: colors(text);
    border: none;
    text-decoration: none !important;
    letter-spacing: 0.05em;
    background-color: colors(text);
    color: #fff;
    @media (hover: hover) and (pointer: fine) {
      transition: all 0.2s linear;
      &:hover {
        color: #fff;
        background-color: #666;
      }
    }
    @include mq-custom($mq_sm) {
      width: 320px;
      height: 60px;
    }
    &:disabled,
    &.disabled {
      opacity: 0.65;
      pointer-events: none;
    }
  }
}
