/* =====================
  configuration setting
===================== */
$mq_sm: 768px; //タブレット
$mq_md: 992px; //PC
$mq_lg: 1020px; //LG
$mq_xl: 1200px; //XL

$colors: (
  text: #030303,
  main: #030303,
  red: #f00,
  gray: #999,
  light: #f6f6f6,
);
